body {
    padding: 0 12px;
}

.home{
    text-align: left;
    padding: 0 100px;
}

.navbar {
    background-color: #cfd4ed;
}

.navbar-nav {
    margin-right: 120px;
    font-weight: bold;
}

.buttonHome {
    height: 34px; 
    width: 100px;
}

.fotoMobil {
    margin-top: 50px;
    width: 660px;
    height: 450px; 
}

.headerText {
    position: absolute;
    font-weight: bold;
    line-height: 150%;
    font-weight: 700;
    font-size: 36px;
    text-align: left;
    width: 568px;
    height: 108px;
}

.headText {
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    padding-top: 140px;
    padding-left: 100px;
}

.text1 {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding-left: 100px;
}

.text2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.text3 {
    text-align: left;
    font-weight: bold;
    margin-top: 200px;
}

.serviceText {
    margin-top: 150px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
}

.butSewa {
    margin-left: 100px;
    width: 140px;
    height: 36px;
    border-radius: 10px;
}

.butSewa1 {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 36px;
    border-radius: 10px;
}

.textSewa {
    font-weight: 450;
    font-size: 14px;
    line-height: 22px;
    width: auto;
    height: auto;
}

.avaService {
    width: 482px;
    height: 450px;
    margin-top: 100px;
}

.whyText {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    margin-top: 100px;
    padding-left: 100px;
}

.listSewa {
    font-weight: bold;
    font-size: 14px;
    line-height: 45px;
    text-align: left;
}

li {
    list-style: none;
}

.correctList {
    list-style-image: url(images/correct.png);
}

.cardFooter{
    padding: 0 100px;
}

.cardConnect{
    margin-bottom: -5px;
    padding-left: 21px;
    text-align: left;
}

.ftext1 {
    font-weight: bold;
    text-align: left;
}

.ftext2 {
    text-align: left;
}

.fbutton {
    height: 34px;
    width: 100px;
    background-color: #0D28A6;
    margin-right: 55px;
}

.footerList {
    list-style-image: url(images/correct.png);
}

.fa {
    padding: 0 20px;
    font-size: 2px;
    width: 2px;
}

.fa:hover {
    opacity: 0.7;
}

.CardSewa {
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    background-color: #0D28A6; 
    border-radius: 10px;
    color: white;
    height: 280px;
} 

.textFaq {
    padding-left: 100px;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
}

.textFaq1 {
    padding-left: 100px;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
}

.butDrop {
    margin-right: 100px;
    height: 56px;
    width: 668px;
}

.textDrop {
    font-weight: normal;
    text-align: left;
    color: black;
    margin-left: 10px;
}

.whyCard {
    text-align: left;
    padding: 20px 100px;
}

.whyCard1 {
    padding-left: 0;
}

.card-text {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.butNext,.butPrev {
    border-radius: 100%;
}

.sliderButton{
    margin: 0 auto;
    justify-content:center;
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.butNext:hover{
    background-color: #5CB85F;
}
.butPrev:hover{
    background-color: #5CB85F;
}

.searchText{
    font-size: 12px;
    text-align: left;
}

.hasilCard {
    width: 333px;
    height: 478px;
}

.gambarHasil{
    padding: 30px 10px;
}

.textHasil {
    text-align: left;
}

@media only screen and (max-width: 992px) {
    .hd {
        padding-bottom: 700px;
    }
    .headText, .text1{
        padding-left: 0;
        padding-top: 10px;
    }
    .butSewa{
        margin-left: 0;
    }
    .fotoMobil {
        margin-top: 35px;
        height: 400px;
        width: 500px;
    }
    .home{
        text-align: left;
        padding: 0 10px;
    }
    .avaService {
        margin-left: 0;
    }
    .whyText, .text3 {
        text-align: center;
    }
    .CardSewa {
        border-radius: 10px;
        height: 450px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 0 100px;
    }
    .butDrop {

        height: 56px;
        width: max-content;
    }
    .serviceText {
        justify-content: center;
        padding-left: 10px;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        text-align: left;
    }
}